<ion-content padding>
    <ion-card>
        <div style="display: inline-flex">
            <ion-button fill="clear" style="height: 42px">
                <img src="assets/callicon.png" style="height: 40px; width: auto" (click)="call(i)">
            </ion-button>

            <ion-button fill="clear" style="height: 42px" (click)="regshare(i)">
                <img src="assets/shareicon.png" style="height: 40px; width: auto; margin: 5px">
            </ion-button>
        </div>
    </ion-card>
</ion-content>
