<ion-header [class.hide-header]="hideHeader">

    <ion-toolbar [class.hide-header]="hideHeader">
        <ion-searchbar
                placeholder="Search Places"
                value="{{location}}"
                animated
                (ionChange)="searchPlace($event)"
                showCancelButton
                (ionFocus)="clickedSearch()"
                (ionBlur)="hasCancelledSearch()"
                style="margin-top: 3px">

        </ion-searchbar>
    </ion-toolbar>

    <ion-card class="unhide-card" [class.hide-card]="hideDistricts">
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let district of districts | filter: searching"
                          (click)="setLocation(district.title); getWeatherReload(); getRestaurants(); getHotels();">
                    {{district.title}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-header>

<ion-content padding [fullscreen]="true">

    <ion-card no-margin style="border-radius: 15px">
        <ion-img src="{{icon}}" float-left style="height: 64px; width: 64px;"></ion-img>
        <h2 float-left style="margin-left: 10px">{{temp}} &deg;F</h2>
        <h2 float-end style="margin-right: 10px">{{condition}}</h2>
    </ion-card>


    <h2 style="color: #383c40; margin-top: 15px">What can we help you find?  {{Username}}</h2>

    <ion-slides [options]="slideOpts">

        <ion-slide>

            <ion-card class="slider-card" (click)="goToRestaurants()">
                <ion-card-header>
                    <img src="assets/food.jpg">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Restaurants</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="slider-card" (click)="goToHotels()">
                <ion-card-header>
                    <img src="assets/hotel.jpg">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Hotels</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="slider-card">
                <ion-card-header>
                    <img src="assets/jeep.jpg">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Experiences</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

    </ion-slides>

    <!--restaurants-->
    <div>
        <h2 style="color: #383c40; margin-bottom: 18px">Restaurants
            <ion-button fill="clear" float-end (click)="goToRestaurants()"><u>show all</u></ion-button>
        </h2>
    </div>

    <ion-slides [options]="slide2Opts">

        <ion-slide *ngFor="let r of restaurant | slice:0:3">

            <ion-card class="item-card">
                <img src="assets/{{r.img}}">
                <div class="card-title"><span>{{r.name}}</span></div>
                <div class="card-subtitle">
                    <p><span>opens: {{r.open}}</span></p>
                    <p><span>closes: {{r.close}}</span></p>
                </div>
            </ion-card>

        </ion-slide>

    </ion-slides>

    <!--hotels-->
    <div>
        <h2 style="color: #383c40; margin-bottom: 18px">Hotels
            <ion-button fill="clear" float-end (click)="goToHotels()"><u>show all</u></ion-button>
        </h2>
    </div>

    <ion-slides [options]="slide2Opts">

        <ion-slide *ngFor="let h of hotels | slice:0:3">

            <ion-card class="item-card">
                <img src="assets/{{h.img}}">
                <div class="card-title"><span>{{h.name}}</span></div>
                <div class="card-subtitle">
                    <p><span>$ {{h.price}}</span></p>
                </div>
            </ion-card>

        </ion-slide>

    </ion-slides>

    <!--experiences-->
    <div>
        <h2 style="color: #383c40; margin-bottom: 18px">Experiences
            <ion-button fill="clear" float-end><u>show all</u></ion-button>
        </h2>
    </div>

    <ion-slides [options]="slide2Opts">

        <ion-slide *ngFor="let r of restaurant | slice:0:3">

            <ion-card class="item-card">
                <img src="assets/{{r.img}}">
                <div class="card-title"><span>{{r.name}}</span></div>
                <div class="card-subtitle">
                    <p><span>opens: {{r.open}}</span></p>
                    <p><span>closes: {{r.close}}</span></p>
                </div>
            </ion-card>

        </ion-slide>

    </ion-slides>


</ion-content>
