<ion-header [class.hide-header]="hideHeader">

    <ion-toolbar [class.hide-header]="hideHeader">
        <ion-searchbar
                placeholder="Search Places"
                value="{{location}}"
                animated
                (ionChange)="searchPlace($event)"
                autocomplete="on"
                showCancelButton
                (ionFocus)="clickedSearch()"
                (ionBlur)="hasCancelledSearch()">

        </ion-searchbar>
    </ion-toolbar>

    <ion-card class="unhide-card" [class.hide-card]="hideDistricts">
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let district of districts | filter: searching" (click)="setLocation(district.title)">
                    {{district.title}}
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

</ion-header>

<ion-content
        padding
        [fullscreen]="true"
        [scrollEvents]="true"
        (ionScroll)="onScroll($event)"
        (ionScrollEnd)="endScroll()">

    <h2>{{location}}</h2>

    <h2 style="color: #383c40; margin-top: 5px">What can we help you find?  {{Username}}</h2>

    <ion-slides [options]="slideOpts">

        <ion-slide>

            <ion-card class="slider-card">
                <ion-card-header>
                    <img src="assets/food.jpg">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Restaurants</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="slider-card">
                <ion-card-header>
                    <img src="assets/hotel.jpg">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Hotels</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="slider-card">
                <ion-card-header>
                    <img src="assets/jeep.jpg">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Experiences</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

    </ion-slides>

    <!--restaurants-->
    <h2 style="color: #383c40; margin-bottom: 18px">Restaurants</h2>

    <ion-slides [options]="slide2Opts" class="slider2" pager="true">

        <ion-slide>
            <ion-card class="slider-card2">
                <ion-card-header>
                    <ion-img src="assets/food.jpg"></ion-img>
                    <ion-card-title>Place Name</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-icon name="restaurant" float-end size="large"></ion-icon>
                    <p>opens: 8am</p>
                    <p>closes: 9pm</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card class="slider-card2">
                <ion-card-header>
                    <ion-img src="assets/food.jpg"></ion-img>
                    <ion-card-title>Place Name</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-icon name="restaurant" float-end size="large"></ion-icon>
                    <p>opens: 8am</p>
                    <p>closes: 9pm</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <ion-card class="slider-card2">
                <ion-card-header>
                    <ion-img src="assets/food.jpg"></ion-img>
                    <ion-card-title>Place Name</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-icon name="restaurant" float-end size="large"></ion-icon>
                    <p>opens: 8am</p>
                    <p>closes: 9pm</p>
                </ion-card-content>
            </ion-card>
        </ion-slide>

    </ion-slides>

    <ion-button expand="block" fill="outline" href="restaurants/belize">Show More</ion-button>

    <!--hotels-->
    <h2 style="color: #383c40; margin-bottom: 18px">Hotels</h2>

    <!--experiences-->
    <h2 style="color: #383c40; margin-bottom: 18px">Experience</h2>

</ion-content>
