<ion-content padding>
    <p style="font-size: 30px; color: #383c40">What can we help you find?  {{name}}</p>

    <ion-slides [options]="slideOpts">

        <ion-slide>

            <ion-card class="slider-card">
                <ion-card-header>
                    <img src="assets/food.jpg" style="width: 100px; height: 80px">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Restaurants</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="slider-card">
                <ion-card-header>
                    <img src="assets/hotel.jpg" style="width: 100px; height: 80px">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Hotels</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide>

            <ion-card class="slider-card">
                <ion-card-header>
                    <img src="assets/jeep.jpg" style="width: 100px; height: 80px">
                </ion-card-header>
                <ion-card-content>
                    <h2 style="color: #5f676a">Experiences</h2>
                </ion-card-content>
            </ion-card>

        </ion-slide>

    </ion-slides>

    <h2>Restaurants</h2>

    <ion-grid no-padding>
        <ion-row>
            <ion-col size="4">

                <ion-card class="card">
                    <ion-card-header>
                        <img src="assets/food.jpg" style="height: 50px">
                    </ion-card-header>
                    <ion-card-content>
                        <h3 style="color: #5f676a">Restaurants</h3>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card">
                    <ion-card-header>
                        <img src="assets/food.jpg" style="height: 50px">
                    </ion-card-header>
                    <ion-card-content>
                        <h3 style="color: #5f676a">Restaurants</h3>
                    </ion-card-content>
                </ion-card>

            </ion-col>

            <ion-col size="4">

                <ion-card class="card">
                    <ion-card-header>
                        <img src="assets/food.jpg" style="height: 50px">
                    </ion-card-header>
                    <ion-card-content>
                        <h3 style="color: #5f676a">Restaurants</h3>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card">
                    <ion-card-header>
                        <img src="assets/food.jpg" style="height: 50px">
                    </ion-card-header>
                    <ion-card-content>
                        <h3 style="color: #5f676a">Restaurants</h3>
                    </ion-card-content>
                </ion-card>

            </ion-col>

            <ion-col size="4">

                <ion-card class="card">
                    <ion-card-header>
                        <img src="assets/food.jpg" style="height: 50px">
                    </ion-card-header>
                    <ion-card-content>
                        <h3 style="color: #5f676a">Restaurants</h3>
                    </ion-card-content>
                </ion-card>

                <ion-card class="card">
                    <ion-card-header>
                        <img src="assets/food.jpg" style="height: 50px">
                    </ion-card-header>
                    <ion-card-content>
                        <h3 style="color: #5f676a">Restaurants</h3>
                    </ion-card-content>
                </ion-card>

            </ion-col>

        </ion-row>

    </ion-grid>
</ion-content>
